[Unit]
Description=Hotvox Satellite Output Daemon
After=network.target

[Service]
User=root
WorkingDirectory=/root/hotsat
ExecStartPre=/usr/bin/amixer set Master 60%
ExecStart=/usr/bin/python3 /root/hotsat/outputd.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target