[Unit]
Description=Hotvox Satellite Daemon
After=network.target

[Service]
User=root
WorkingDirectory=/root/hotsat
ExecStart=/usr/bin/python3 /root/hotsat/daemon.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target